<div id="beta">

	<div><a title="Vous avez trouvé un oeuf ! Cliquez pour tenter de gagner un mug !" href="http://www.birdsdessines.fr/hunt/#/collect/1/l5z8chjho58"><img src="http://www.birdsdessines.fr/hunt/images/oeufs/Angry-Oeuf_16.png"></a></div>
	<div><a title="Vous avez trouvé un oeuf ! Cliquez pour tenter de gagner un mug !" href="http://www.birdsdessines.fr/hunt/#/collect/2/okzhg5kjd55"><img src="http://www.birdsdessines.fr/hunt/images/oeufs/FromagOeuf_16.png"></a></div>
	<div><a title="Vous avez trouvé un oeuf ! Cliquez pour tenter de gagner un mug !" href="http://www.birdsdessines.fr/hunt/#/collect/3/5jayp8cv"><img src="http://www.birdsdessines.fr/hunt/images/oeufs/GirafOeuf_16.png"></a></div>
	<div><a title="Vous avez trouvé un oeuf ! Cliquez pour tenter de gagner un mug !" href="http://www.birdsdessines.fr/hunt/#/collect/4/p34ijahh"><img src="http://www.birdsdessines.fr/hunt/images/oeufs/Koeuf_16.png"></a></div>
	<div><a title="Vous avez trouvé un oeuf ! Cliquez pour tenter de gagner un mug !" href="http://www.birdsdessines.fr/hunt/#/collect/5/jpo89afz56"><img src="http://www.birdsdessines.fr/hunt/images/oeufs/Noeud-Oeuf_16.png"></a></div>
	<div><a title="Vous avez trouvé un oeuf ! Cliquez pour tenter de gagner un mug !" href="http://www.birdsdessines.fr/hunt/#/collect/6/pol7a99wpo"><img src="http://www.birdsdessines.fr/hunt/images/oeufs/NOeuf_16.png"></a></div>

</div>