<div id="content" class="row">
	<div id="ranking" class="col-sm-8">
		
		<h2>{{nbPlayers}} chasseurs d'oeufs !
		<input type="search" class="form-control pull-right" style="width:initial;" ng-model="filterPlayer" placeholder="rechercher...">
		</h2>
		<div class="player"
				ng-repeat="player in players | orderBy:'-score' | filter:filterPlayer track by player.id"
				ng-init="rank = $index+1"
				ng-class="{highlighted: currentUser.id == player.id}">
			<div class="eggs">
				<a href="" 
					ng-repeat="egg in player.eggs | orderBy:'time'"
					title="Trouvé le {{egg.time | date:'short'}}"
					class="player_egg egg-{{egg.id}}">
				</a>
			</div>
			<div class="rank">{{rank}}</div>
			<div class="name">{{player.name}}</div>
			<div class="score">{{player.score}} oeufs trouv&eacute;s !</div>
		</div>
	</div>

	<div id="eggs" class="col-sm-4">

		<h2>{{nbAvailableEggs}} oeufs &agrave; trouver !</h2>
		<div title="{{egg.name}}" class="egg egg-{{egg.id}}"
				ng-repeat="egg in eggs | orderBy:'name'"
				ng-class="{off: egg.status == 'off'}">
			<span class="name" ng-bind-html="egg.name"></span>
			<span ng-if="egg.status == 'off'" class="not_available">Bient&ocirc;t disponible !</span>
		</div>

	</div>

</div>