<div id="content" class="row">
	<div id="ranking" class="col-sm-8">
		
		<h2>{{nbPlayers}} chasseurs d'oeufs !
		<input type="search" class="form-control pull-right" style="width:initial;" ng-model="filterPlayer" placeholder="rechercher...">
		</h2>

		<div ng-if="!initialized" class="progress progress-striped active">
		  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		    <span class="sr-only">In progress...</span>
		  </div>
		</div>

		<ul id="scoreFilterBar" class="nav nav-pills">
			<li ng-repeat="scoreFilter in scoreFiltersKeys"
				ng-class="{'active' : filterScore == scoreFilter}"
				ng-click="setFilterScore(scoreFilter)">
					<a href="">{{scoreFilter}} oeufs ({{scoreFilters[scoreFilter].count}})</a>
			</li>
		</ul>
		<div class="player"
				ng-repeat="player in players | filter:{name:filterPlayer,score:filterScore} track by player.id"
				ng-init="rank = scoreFilters[filterScore].startRank + $index + 1"
				ng-class="{highlighted: currentUser.id == player.id}">
			<div class="eggs">
				<a href="" 
					ng-repeat="egg in player.eggs | orderBy:'time'"
					title="Trouvé le {{egg.time | date:'short'}}"
					class="player_egg egg-{{egg.id}}">
				</a>
			</div>
			<div class="rank">{{rank}}</div>
			<div class="name">{{player.name | mailSafe}}</div>
			<div class="score" ng-if="player.score == 0">n'a pas encore trouv&eacute; d'oeufs !</div>
			<div class="score" ng-if="player.score == 1">{{player.score}} oeufs trouv&eacute; !</div>
			<div class="score" ng-if="player.score > 1">{{player.score}} oeufs trouv&eacute;s !</div>
		</div>
	</div>

	<div id="eggs" class="col-sm-4">

		<h2>{{nbAvailableEggs}} oeufs &agrave; trouver !</h2>
		<div title="{{egg.name}}" class="egg egg-{{egg.id}}"
				ng-repeat="egg in eggs | orderBy:'name'"
				ng-class="{off: egg.status == 'off'}">
			<span class="name" ng-bind-html="egg.name"></span><br/>
			<span ng-if="eggStats[egg.id]" class="stats text-muted">Trouv&eacute; par {{eggStats[egg.id]}} / {{nbPlayers}}</span>
			<span ng-if="egg.status == 'off'" class="not_available">Bient&ocirc;t disponible !</span>
			<span ng-if="egg.status == 'hard'" class="not_available">Difficile !</span>
			<span ng-if="egg.status == 'easy'" class="not_available"><a href="http://www.birdsdessines.fr/hunt/#/collect/5/oopl1977ghd">Trop facile !</a></span>
		</div>

	</div>

</div>