<div id="header">
	<div id="title">
	</div>

	<div id="welcome" class="row">

		<div id="social" class="col-md-1">
			<div class="fb-like" data-href="http://www.birdsdessines.fr/hunt/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>

		<div id="message" class="col-md-7">
			Les Birds ont cach&eacute; 20 oeufs sur le site <a href="http://www.birdsdessines.fr">BirdsDessines.fr</a>. D&egrave;s que vous en voyez un, cliquez dessus pour l'ajouter &agrave; votre panier. Trouvez-en un maximum pour tenter de gagner un magnifique <a href="/hunt/#/info">mug</a> !
		</div>

		<div id="login" ng-if="!currentUser" class="col-md-4">
			<p>
				<form role="form" ng-if="theForm == 'sub'" ng-submit="doSubscribe(login, password, password2)">
					<h4>Je m'inscris gratuitement &agrave; la Chasse aux Oeufs BirdsDessines 2014 !</h4>
					<div class="form-group">
						<label class="sr-only" for="loginInput">Identifiant</label>
						<input type="text" class="form-control" id="loginInput" placeholder="Identifiant" ng-model="login">
					</div>
					<div class="form-group">
						<label class="sr-only" for="passwordInput">Mot de passe</label>
						<input type="password" class="form-control" id="passwordInput" placeholder="Mot de passe" ng-model="password">
					</div>
					<div class="form-group">
						<label class="sr-only" for="passwordInput2">Confirmer mot de passe</label>
						<input type="password" class="form-control" id="passwordInput2" placeholder="Confirmer mot de passe" ng-model="password2">
					</div>
					<p ng-show="formError" class="text-danger">{{formError}}</p>
					<button type="submit" class="btn btn-primary">Je rejoins la chasse !</button>
					<button type="button" class="btn btn-default" ng-click="setForm(null)">Annuler</button>
				</form>

				<form role="form" ng-if="theForm == 'log'" ng-submit="doLogin(login, password)">
					<h4>Je me connecte &agrave; la Chasse aux Oeufs BirdsDessines 2014 !</h4>
					<div class="form-group">
						<label class="sr-only" for="loginInput">Identifiant</label>
						<input type="text" class="form-control" id="loginInput" placeholder="Identifiant" ng-model="login">
					</div>
					<div class="form-group">
						<label class="sr-only" for="passwordInput">Mot de passe</label>
						<input type="password" class="form-control" id="passwordInput" placeholder="Mot de passe" ng-model="password">
					</div>
					<p ng-show="formError" class="text-danger">{{formError}}</p>
					<button type="submit" class="btn btn-primary">Je me connecte !</button>
					<button type="button" class="btn btn-default" ng-click="setForm(null)">Annuler</button>
				</form>
			</p>

			<p>
				<a ng-hide="theForm" class="btn btn-primary btn-lg" role="button" ng-click="setForm('sub')">Je m'inscris</a>
				<a ng-hide="theForm" class="btn btn-default btn-lg" role="button" ng-click="setForm('log')">Je me connecte</a>
			</p>
		</div>


		<div id="login" ng-if="currentUser" class="col-md-4 alert alert-info text-center">
			Bonjour <strong>{{currentUser.login}}</strong> ! <br>
			<a href="" ng-click="setForm('rename')">Changer mon identifiant</a> | 
			<a href="" ng-click="doLogout()">Me d&eacute;connecter</a>

			<form role="form" ng-if="theForm == 'rename'" ng-submit="doRename(newName)">
				<div class="form-group">
					<label class="sr-only" for="renameInput">Nouvel identifiant</label>
					<input type="text" class="form-control" id="renameInput" placeholder="Nouvel identifiant" ng-model="newName">
				</div>
				<p ng-show="formError" class="text-danger">{{formError}}</p>
				<button type="submit" class="btn btn-primary">Valider</button>
				<button type="button" class="btn btn-default" ng-click="setForm(null)">Annuler</button>
			</form>
		</div>

	</div>

	<div class="alert alert-success" ng-init="currentDayMsg = 7">
		<p ng-show="currentDayMsg == 7"><strong>Septi&egrave;me jour !</strong> Voil&agrave; une semaine que la Chasse aux Oeufs BirdsDessines.fr 2014 est ouverte et les 20 oeufs ont tous &eacute;t&eacute; cach&eacute;s par les Birds. Ils le resteront jusqu'au Lundi de P&acirc;ques inclus. Bonne chance &agrave; tous !</p>

		<p ng-show="currentDayMsg == 6"><strong>Sixi&egrave;me jour !</strong> La chasse aux oeufs est ouverte jusqu'au Lundi de P&acirc;ques. Plus de 400 chasseurs ! Quel succ&egrave;s ! Et ce n'est pas fini. Faites passez le mot. Et voici en cadeau un oeuf &eacute;ph&eacute;m&egrave;re, le <a href="http://www.birdsdessines.fr/hunt/#/collect/16/nbaprety5q">Shadoeuf</a>, pour r&eacute;compenser ceux qui chassent et lisent ce petit mot tous les jours. Et oui, demain, il ne sera plus l&agrave; !</p>

		<p ng-show="currentDayMsg == 5"><strong>Cinqui&egrave;me jour !</strong> 15 oeufs sur 20 sont trouvables. Je rappelle que l'on peut entrer dans la course n'importe quand ! Alors n'h&eacute;sitez pas et rejoignez les chasseurs !</p>

		<p ng-show="currentDayMsg == 4"><strong>Quatri&egrave;me jour !</strong> Vous m'impressionnez ! Vous devez avoir un esprit aussi tordu que le mien pour penser &agrave; aller chercher ces oeufs n'importe o&ugrave;. Mi-parcours pass&eacute;. Continuez ainsi et faites passer le mot. (Pensez &agrave; raffraichir les pages et/ou vider le cache de votre navigateur.)</p>

		<p ng-show="currentDayMsg == 3"><strong>Troisi&egrave;me jour !</strong> Plus de 300 chasseurs ! Je rappelle qu'on peut rejoindre la chasse n'importe quand puisque tous les oeufs restent trouvables jusqu'&agrave; P&acirc;ques. D'ailleurs, 3 de plus aujourd'hui. Allez hop !</p>

		<p ng-show="currentDayMsg == 2"><strong>Deuxi&egrave;me jour !</strong> Angry Oeuf vous donne du fil &agrave; retordre. Bravo &agrave; ceux qui l'ont trouv&eacute;. En voici deux autres pour vous occuper.</p>

		<p ng-show="currentDayMsg == 1"><strong>C'est parti !</strong> La Chasse aux Oeufs a d&eacute;marr&eacute; ! Trois oeufs ont d'ores et d&eacute;j&agrave; &eacute;t&eacute; cach&eacute;s par les Birds !</p>

		<p ng-show="currentDayMsg == 0"><strong>Patience !</strong> La Chasse aux Oeufs d&eacute;marre le 14 avril 2014. Aucun oeuf n'a &eacute;t&eacute; cach&eacute; pour le moment.</p>

		<p class="text-right small">
			<a href="" ng-show="currentDayMsg > 0" ng-click="currentDayMsg = currentDayMsg - 1">Voir le message du jour pr&eacute;c&eacute;dent</a> | 
			<a href="" ng-show="currentDayMsg < 7" ng-click="currentDayMsg = currentDayMsg + 1">Voir le message du jour suivant</a>
		</p>
	</div>

</div>