<div id="header">
	<div id="title">
	</div>

	<div id="welcome" class="row">

		<div id="social" class="col-md-1">
			<div class="fb-like" data-href="http://www.birdsdessines.fr/hunt/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>

		<div id="message" class="col-md-7">
			Les Birds ont cach&eacute; 20 oeufs sur le site <a href="http://www.birdsdessines.fr">BirdsDessines.fr</a>. D&egrave;s que vous en voyez un, cliquez dessus pour l'ajouter &agrave; votre panier. Trouvez-en un maximum pour tenter de gagner un magnifique <a href="/hunt/#/info">mug</a> !
		</div>

		<div id="login" ng-if="!currentUser" class="col-md-4">
			<p>
				<form role="form" ng-if="theForm == 'sub'" ng-submit="doSubscribe(login, password, password2)">
					<h4>Je m'inscris gratuitement &agrave; la Chasse aux Oeufs BirdsDessines 2014 !</h4>
					<div class="form-group">
						<label class="sr-only" for="loginInput">Identifiant</label>
						<input type="text" class="form-control" id="loginInput" placeholder="Identifiant" ng-model="login">
					</div>
					<div class="form-group">
						<label class="sr-only" for="passwordInput">Mot de passe</label>
						<input type="password" class="form-control" id="passwordInput" placeholder="Mot de passe" ng-model="password">
					</div>
					<div class="form-group">
						<label class="sr-only" for="passwordInput2">Confirmer mot de passe</label>
						<input type="password" class="form-control" id="passwordInput2" placeholder="Confirmer mot de passe" ng-model="password2">
					</div>
					<p ng-show="formError" class="text-danger">{{formError}}</p>
					<button type="submit" class="btn btn-primary">Je rejoins la chasse !</button>
					<button type="button" class="btn btn-default" ng-click="setForm(null)">Annuler</button>
				</form>

				<form role="form" ng-if="theForm == 'log'" ng-submit="doLogin(login, password)">
					<h4>Je me connecte &agrave; la Chasse aux Oeufs BirdsDessines 2014 !</h4>
					<div class="form-group">
						<label class="sr-only" for="loginInput">Identifiant</label>
						<input type="text" class="form-control" id="loginInput" placeholder="Identifiant" ng-model="login">
					</div>
					<div class="form-group">
						<label class="sr-only" for="passwordInput">Mot de passe</label>
						<input type="password" class="form-control" id="passwordInput" placeholder="Mot de passe" ng-model="password">
					</div>
					<p ng-show="formError" class="text-danger">{{formError}}</p>
					<button type="submit" class="btn btn-primary">Je me connecte !</button>
					<button type="button" class="btn btn-default" ng-click="setForm(null)">Annuler</button>
				</form>
			</p>

			<p>
				<a ng-hide="theForm" class="btn btn-primary btn-lg" role="button" ng-click="setForm('sub')">Je m'inscris</a>
				<a ng-hide="theForm" class="btn btn-default btn-lg" role="button" ng-click="setForm('log')">Je me connecte</a>
			</p>
		</div>


		<div id="login" ng-if="currentUser" class="col-md-4 alert alert-info text-center">
			Bonjour <strong>{{currentUser.login}}</strong> ! <a href="" ng-click="doLogout()">Me d&eacute;connecter</a>
		</div>


	</div>

	<div class="alert alert-success">
		<strong>C'est parti !</strong> La Chasse aux Oeufs a d&eacute;marr&eacute; ! Trois oeufs ont d'ores et d&eacute;j&agrave; &eacute;t&eacute; cach&eacute;s par les Birds !
	</div>

</div>