<div id="info" class="row">
	<div class="col-md-6 text-center">
		<img src="http://www.birdsdessines.fr/hunt/images/mug.png" style="height:600px;">
	</div>
	<div class="col-md-6">
		<h3>Conditions d'utilisation</h3>
		<p>La Chasse aux Oeufs 2014 est un jeu gratuit sans obligation d'achat organis&eacute; par le site <a href="http://www.birdsdessines.fr">BirdsDessines.fr</a>.</p>
		<p>Du 14 au 21 avril 2014, n'importe quel internaute peut participer. Pour ce faire, il suffit de cr&eacute;er un compte sur le site du jeu.</p>
		<div class="alert alert-info"><strong>Attention :</strong> les comptes BirdsDessines.fr ne sont pas valides. Vous devez en cr&eacute;er un sp&eacute;cialement pour le jeu.</div>
		<p>Le jeu consiste &agrave; r&eacute;colter l'ensemble des 20 oeufs cach&eacute;s sur les divers sites li&eacute;s &agrave; BirdsDessines.fr, page Facebook et Twitter comprises. Il suffit de cliquer sur un oeuf pour l'ajouter &agrave; son panier. Inscrivez-vous ou connectez-vous directement sur la page.</p>
		<p>Apr&eacute;s la p&eacute;riode de jeu &eacute;coul&eacute;e, un tirage au sort parmi les joueurs ayant remport&eacute; le maximum d'oeufs d&eacute;signera les gagnants du mug BirdsDessines.fr d'une valeur estim&eacute;e de 12 euros.</p>
		<p>Pour toute information, merci de nous contacter par mail à webmaster [a] birdsdessines.fr.</p>
		<p><strong>Bonne chance &agrave; tous !</strong></p>
		<p><a href="http://www.birdsdessines.fr/hunt" class="btn btn-default">Retourner sur le site officiel</a></p>
	</div>
</div>


<div ng-include src="'views/footer.html'"></div>