<div id="soluce">
	<h1>O&ugrave; &eacute;taient cach&eacute;s ces satan&eacute;s oeufs ?</h1>

	<div class="panel panel-default">
		<div class="panel-body">
			<p>Du 14 au 21 avril 2014, j'ai eu le plaisir d'organiser une grande chasse aux Oeufs sur le site <a href="http://www.birdsdessines.fr">BirdsDessines.fr</a>. Le principe &eacute;tait de cacher chaque jour 3 oeufs sur tout le site. Ci-dessous, je vous ai mis o&ugrave; &eacute;t&eacute; cach&eacute;s les oeufs.</p>

			<p><a href="http://www.birdsdessines.fr/hunt" class="btn btn-primary" role="button">Retourner sur le site de la chasse aux oeufs</a></p>
		</div>
	</div>

	<h2>Angry Oeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Angry-Oeuf_16.png" style="margin:10px;"> Difficile, trouv&eacute; par 69 chasseurs sur 560</div>
	<p>Chaque jour, l'un des trois oeufs cach&eacute;s devait plus difficile &agrave; trouver que les deux autres. Il devait y avoir au moins un oeuf dur quoi :) AngryOeuf &eacute;tait le premier oeuf dur en ce sens qu'il montrait qu'un oeuf n'&eacute;tait pas n&eacute;cessairement directement visible. En effet, il fallait descendre tout en bas de la page et voir que dans mon nom (oui, un peu &eacute;gocentrique pour le premier oeuf), il y avait un chiffre au lieu d'une lettre. Cela annoncait aussi que le chiffre neuf allait &ecirc;tre &agrave; l'honneur toute la semaine, pour le jeu de mot, bien &eacute;videmment. AngryOeuf &eacute;tait donc le meilleur ambassadeur de ce qu'il allait arriv&eacute; tout au long de la semaine.</p>

	<img src="/hunt/images/soluce/angryoeuf.png">

	<h2>Boeurdf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Oeuf-Bird_16.png" style="margin:10px;"> Facile, trouv&eacute; par 424 chasseurs sur 560</div>
	<p>Le plus facile &agrave; trouver &eacute;tait bien &eacute;videmment Boeurdf puisqu'il &eacute;tait mis bien en &eacute;vidence sur le logo du site lui-m&ecirc;me. On ne peut pas faire plus &eacute;vident, donc. En effet, le premier jour, il fallait faire connaitre et engager le maximum de personne dans la course. Ainsi, avec Cycloeuf, Boeurdf avait pour but d'initier la chasse d'un maximum de joueurs. D'ailleurs dans le classement, les oeufs trouv&eacute;s sont class&eacute;s par ordre de "trouvaille". En regardant, le premier oeuf trouv&eacute; d'un chasseur, on peut donc deviner d'o&ugrave; il est venu : du site BirdsDessines.fr ou de Facebook. Tr&egrave; utile pour les statistiques !</p>

	<img src="/hunt/images/soluce/boeurdf.png">

	<h2>Cycloeupf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Oeuf_VenuDailleurs_16.png" style="margin:10px;"> Facile, trouv&eacute; par 253 chasseurs sur 560</div>
	<p>Comme indiqu&eacute; dans la description de Boeurdf, Cycloeupf &eacute;tait l'oeuf d'accroche des fans des Birds sur Facebook. La page Facebook de BirdsDessines.fr &eacute;tant indissociable du succ&egrave;s du site, il &eacute;tait somme toute normal d'y trouver un oeuf. En revanche, le compte Twitter bien qu'existant, n'aura pas le droit &agrave; son oeuf car le compte Twitter n'existe que pour faire acte de pr&eacute;sence sur le r&eacute;seau social.</p>

	<img src="/hunt/images/soluce/cycloeuf.png">

	<h2>Dupoeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Oeuf-Dupont_16.png" style="margin:10px;"> Difficile, trouv&eacute; par 91 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/dupoeuf1.png">
	<br>
	<img src="/hunt/images/soluce/dupoeuf2.png">
	<br>
	<img src="/hunt/images/soluce/dupoeuf3.png">

	<h2>Extra-terroeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Oeuf-VenerateurDuCrochet_16.png" style="margin:10px;"> Facile, trouv&eacute; par 210 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/extraterroeuf.png">

	<h2>Fromajoeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/FromagOeuf_16.png" style="margin:10px;"> Facile, trouv&eacute; par 155 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/fromajoeuf1.png">
	<br>
	<img src="/hunt/images/soluce/fromajoeuf2.png">

	<h2>Giroeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/GirafOeuf_16.png" style="margin:10px;"> Facile, trouv&eacute; par 62 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/giroeuf1.png">
	<br>
	<img src="/hunt/images/soluce/giroeuf2.png">

	<h2>Incognitoeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Oeuf-masque_16.png" style="margin:10px;"> Facile, trouv&eacute; par 104 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/incognitoeuf1.png">
	<br>
	<img src="/hunt/images/soluce/incognitoeuf2.png">

	<h2>Koeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Koeuf_16.png" style="margin:10px;"> Difficile, trouv&eacute; par 84 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/koeuf1.png">
	<br>
	<img src="/hunt/images/soluce/koeuf2.png">

	<h2>Lapin Cr&eacute;toeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Oeufcretin_16.png" style="margin:10px;"> Facile, trouv&eacute; par 142 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/lapincretoeuf.png">

	<h2>Meu-Moeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/VachOeuf_16.png" style="margin:10px;"> Difficile, trouv&eacute; par 44 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/meu-moeuf.png">

	<h2>Noeud Noeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Noeud-Oeuf_16.png" style="margin:10px;"> Tr&egrave;s facile, trouv&eacute; par 96 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/noeudnoeuf.png">

	<h2>Noeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/NOeuf_16.png" style="margin:10px;"> Facile, trouv&eacute; par 55 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/neouf1.png">
	<br>
	<img src="/hunt/images/soluce/neouf2.png">

	<h2>Oeufmer</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Oeufmer_16.png" style="margin:10px;"> Facile, trouv&eacute; par 45 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/oeufmer1.png">
	<br>
	<img src="/hunt/images/soluce/oeufmer2.png">
	<br>
	<img src="/hunt/images/soluce/oeufmer3.png">
	<br>
	<img src="/hunt/images/soluce/oeufmer4.png">

	<h2>Pr&eacute;sidoeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Presidoeuf_16.png" style="margin:10px;"> Difficile, trouv&eacute; par 31 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/presidoeuf.png">

	<h2>R2DOeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/R2D-oeuf_16.png" style="margin:10px;"> Facile, trouv&eacute; par 52 chasseurs sur 560</div>
	<p><p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/r2doeuf1.png">
	<br>
	<img src="/hunt/images/soluce/r2doeuf2.png">

	<h2>Shadoeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/ShadOeuf_16.png" style="margin:10px;"> Facile, trouv&eacute; par 135 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/shadoeuf.png">

	<h2>Stromaoeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Stroma-oeuf_16.png" style="margin:10px;"> Facile, trouv&eacute; par 76 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/stromaoeuf1.png">
	<br>
	<img src="/hunt/images/soluce/stromaoeuf2.png">
	<br>
	<img src="/hunt/images/soluce/stromaoeuf3.png">

	<h2>Supermoeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Super-oeuf_16.png" style="margin:10px;"> Difficile, trouv&eacute; par 39 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/supermoeuf.png">

	<h2>Z&egrave;broeuf</h2>
	<div class="alert alert-info"><img src="/hunt/images/oeufs/Zebr-oeuf_16.png" style="margin:10px;"> Facile, trouv&eacute; par 29 chasseurs sur 560</div>
	<p><i>Commentaire &agrave; venir...</i></p>

	<img src="/hunt/images/soluce/zebroeuf.png">

</div>


<div ng-include src="'views/footer.html'"></div>