<div id="soluce">

	<div class="panel panel-default">
		<div class="panel-body">
			Du 14 au 21 avril 2014, j'ai eu le plaisir d'organiser une grande chasse aux Oeufs sur le site BirdsDessines.fr. Le principe &eacute;t&eacute; chaque jour de cacher 3 oeufs sur tout le site. Ci-dessous, je vous ai mis o&ugrave; &eacute;t&eacute; cach&eacute;s les oeufs.
		</div>
	</div>

	<h1>Angry Oeuf</h1>
	<p>Chaque l'un des trois oeufs cach&eacute;s devait plus difficile &agrave; trouver que les deux autres. Il devait y avoir au moins un oeuf dur quoi :) AngryOeuf &eacute;tait le premier oeuf dur en ce sens qu'il montrait qu'un oeuf n'&eacute;tait pas n&eacute;cessairement directement visible. En effet, il fallait descendre tout en bas de la page et voir que dans mon nom (oui, un peu &eacute;gocentrique pour le premier oeuf), il y avait un chiffre au lieu d'une lettre. Cela annoncait aussi que le chiffre neuf allait &ecirc;tre &agrave; l'honneur toute la semaine, pour le jeu de mot, bien &eacute;videmment. AngryOeuf &eacute;tait donc le meilleur ambassadeur de ce qu'il allait arriv&eacute; tout au long de la semaine.</p>

	<img src="/hunt/images/soluce/angryoeuf.png">

	<h1>Boeurdf</h1>
	<p>Le plus facile &agrave; trouver &eacute;tait bien &eacute;videmment Boeurdf puisqu'il &eacute;tait mis bien en &eacute;vidence sur le logo du site lui-m&ecirc;me. On ne peut pas faire plus &eacute;vident, donc. En effet, le premier jour, il fallait faire connaitre et engager le maximum de personne dans la course. Ainsi, avec Cycloeuf, Boeurdf avait pour but d'initier la chasse d'un maximum de joueurs. D'ailleurs dans le classement, les oeufs trouv&eacute;s sont class&eacute;s par ordre de "trouvaille". En regardant, le premier oeuf trouv&eacute; d'un chasseur, on peut donc deviner d'o&ugrave; il est venu : du site BirdsDessines.fr ou de Facebook. Tr&egrave; utile pour les statistiques !</p>

	<img src="/hunt/images/soluce/boeurdf.png">

	<h1>Cycloeupf</h1>
	<p>Comme indiqu&eacute; dans la description de Boeurdf, Cycloeupf &eacute;tait l'oeuf d'accroche des fans des Birds sur Facebook. La page Facebook de BirdsDessines.fr &eacute;tant indissociable du succ&egrave;s du site, il &eacute;tait somme toute normal d'y trouver un oeuf. En revanche, le compte Twitter bien qu'existant, n'aura pas le droit &agrave; son oeuf car le compte Twitter n'existe que pour faire acte de pr&eacute;sence sur le r&eacute;seau social.</p>

	<img src="/hunt/images/soluce/cycloeuf.png">

</div>