#header {
  background: transparent url('../images/logo.png') no-repeat 10px;
  min-height: 250px;
  padding-left: 400px;
  margin: 20px;

  #login {
    text-align: right;
  }
}

#content {
  margin-top: 10px;
  border-top: 10px solid #DEDEDE;
  border-bottom: 10px solid #DEDEDE;
}

#footer {
  color: #888;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.player {
  clear: both;
  padding: 10px;
  border-bottom: 1px solid #DEDEDE;

  &:hover {
    background-color: aliceblue;
  }

  .rank {
    font-size: 50px;
    color: #BEBEBE;
    float: left;
    padding: 0 10px;
  }

  .name {
    font-size: 25px;
    font-weight: bolder;
  }

  .score {
    color: #424242;
  }

}

.egg {
  background-repeat: no-repeat;
  background-position: 15px 50%;
  border-bottom: solid 1px #ddd;
  background-size: auto 45px;
  height: 60px;
  padding-left: 80px;
  font-size: 25px;
  line-height: 50px;

  &:hover {
    background-color: aliceblue;
  }

  &.egg-1 { background-image: url('../images/oeufs/Angry-Oeuf_16.png'); }
  &.egg-2 { background-image: url('../images/oeufs/FromagOeuf_16.png'); }
  &.egg-3 { background-image: url('../images/oeufs/GirafOeuf_16.png'); }
  &.egg-4 { background-image: url('../images/oeufs/Koeuf_16.png'); }
  &.egg-5 { background-image: url('../images/oeufs/Noeud-Oeuf_16.png');  }
  &.egg-6 { background-image: url('../images/oeufs/NOeuf_16.png'); }
  &.egg-7 { background-image: url('../images/oeufs/Oeuf_VenuDailleurs_16.png'); }
  &.egg-8 { background-image: url('../images/oeufs/Oeuf-Bird_16.png'); }
  &.egg-9 { background-image: url('../images/oeufs/Oeufcretin_16.png'); }
  &.egg-10 { background-image: url('../images/oeufs/Oeuf-Dupond_16.png'); }
  &.egg-11 { background-image: url('../images/oeufs/Oeuf-masque_16.png'); }
  &.egg-12 { background-image: url('../images/oeufs/Oeufmer_16.png'); }
  &.egg-13 { background-image: url('../images/oeufs/Oeuf-VenerateurDuCrochet_16.png'); }
  &.egg-14 { background-image: url('../images/oeufs/Presidoeuf_16.png'); }
  &.egg-15 { background-image: url('../images/oeufs/R2D-oeuf_16.png'); }
  &.egg-16 { background-image: url('../images/oeufs/ShadOeuf_16.png'); }
  &.egg-17 { background-image: url('../images/oeufs/Stroma-oeuf_16.png'); }
  &.egg-18 { background-image: url('../images/oeufs/Super-oeuf_16.png'); }
  &.egg-19 { background-image: url('../images/oeufs/VachOeuf_16.png'); }
  &.egg-20 { background-image: url('../images/oeufs/Zebr-oeuf_16.png'); }
}