/* CSS file */

@font-face {
	src:url("Gilles_Handwriting.ttf");
	fontFamily: birdsFont;
}

Label.help
{
	font-size: 9;
	color: #efefef;
}

Label.new
{
	font-size: 9;
	font-weight: bold;
	color: red;	
}

TextArea.bubble
{
	font-family: "birdsFont";
	font-size: 18;
	border-style: none;
	background-alpha: 0.0;
}

Diapo
{
	backgroundColor: #FFFFFF;
	borderStyle: solid;
	borderColor: #DFDFDF;
	borderThickness: 1;
	cornerRadius: 2;
	horizontalAlign: center;
	verticalAlign: middle;
}

Dropper
{
	border-style: solid;
	borderThickness: 1;
	border-color: #B4B4B4;
	backgroundColor: #C6C4C4;
	backgroundAlpha: 0.4;
}

Dropper.img
{
	border-style: none;
	background-alpha: 0.0;
}

Dropper.over
{
	border-color: #696868;
}