#collect {
  border-radius: 10px;
  background-color: #dedede;
  margin: 30px;
}
.foundEgg {
  position: relative;
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.foundEgg h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: darkslategray;
}
.foundEgg.egg-1 {
  background-image: url('../images/oeufs/Angry-Oeuf_32.png');
}
.foundEgg.egg-2 {
  background-image: url('../images/oeufs/FromagOeuf_32.png');
}
.foundEgg.egg-3 {
  background-image: url('../images/oeufs/GirafOeuf_32.png');
}
.foundEgg.egg-4 {
  background-image: url('../images/oeufs/Koeuf_32.png');
}
.foundEgg.egg-5 {
  background-image: url('../images/oeufs/Noeud-Oeuf_32.png');
}
.foundEgg.egg-6 {
  background-image: url('../images/oeufs/NOeuf_32.png');
}
.foundEgg.egg-7 {
  background-image: url('../images/oeufs/Oeuf_VenuDailleurs_32.png');
}
.foundEgg.egg-8 {
  background-image: url('../images/oeufs/Oeuf-Bird_32.png');
}
.foundEgg.egg-9 {
  background-image: url('../images/oeufs/Oeufcretin_32.png');
}
.foundEgg.egg-10 {
  background-image: url('../images/oeufs/Oeuf-Dupond_32.png');
}
.foundEgg.egg-11 {
  background-image: url('../images/oeufs/Oeuf-masque_32.png');
}
.foundEgg.egg-12 {
  background-image: url('../images/oeufs/Oeufmer_32.png');
}
.foundEgg.egg-13 {
  background-image: url('../images/oeufs/Oeuf-VenerateurDuCrochet_32.png');
}
.foundEgg.egg-14 {
  background-image: url('../images/oeufs/Presidoeuf_32.png');
}
.foundEgg.egg-15 {
  background-image: url('../images/oeufs/R2D-oeuf_32.png');
}
.foundEgg.egg-32 {
  background-image: url('../images/oeufs/ShadOeuf_32.png');
}
.foundEgg.egg-17 {
  background-image: url('../images/oeufs/Stroma-oeuf_32.png');
}
.foundEgg.egg-18 {
  background-image: url('../images/oeufs/Super-oeuf_32.png');
}
.foundEgg.egg-19 {
  background-image: url('../images/oeufs/VachOeuf_32.png');
}
.foundEgg.egg-20 {
  background-image: url('../images/oeufs/Zebr-oeuf_32.png');
}
